/* assign dog view -------------------------- */

.assign {
    width: 80vw;
    min-width: 360px;
    margin: 10px auto;
}

.assign-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.assign-header {
    margin: 30px auto;
    border-bottom: 1px solid black;
    width: 100%;
    min-width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


/* assign dog entry ----------------------------- */

.aDog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 330px;
    margin: 10px 4px;
    padding: 6px 10px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: lightgray;
    transition: .2s ease-in-out;
    text-align: center;
    box-shadow: 1px 1px 4px 0px gray;
}

.aDog-left {
    display: flex;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: none;
}

.aDog-name {
    width: 150px;
    margin: 4px;
    padding: 0;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.aDog-name:hover {
    transition: .3s ease-in-out;
    color: chartreuse;
}

.aDog-city {
    width: 250px;
    margin: 0px 40px;
    padding: 0;
}

.aDog-img {
    width: 80px;
    margin: 6px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px gray;
}