/* edit walker view---------------------- */

.edit {
    width: 80vw;
    min-width: 360px;
    margin: 10px auto;
}

.edit-header {
    margin: 30px auto;
    border-bottom: 1px solid black;
    width: 100%;
    min-width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* edit walker form ---------------------- */

