/* edit walker view---------------------- */

.edit {
    width: 80vw;
    min-width: 360px;
    margin: 10px auto;
}

.edit-header {
    margin: 30px auto;
    border-bottom: 1px solid black;
    width: 100%;
    min-width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* edit walker form ---------------------- */
.form-div {
    padding: 8px 0px;
}

.walker-edit-name {
    width: 320px;
    border: thin solid black;
    border-radius: 4px;
}

.walker-edit-pic {
    width: 320px;
    border: thin solid black;
    border-radius: 4px;
}

.walker-edit-about {
    width: 320px;
    border: thin solid black;
    border-radius: 4px;
}

#walker-save-button {
    width: 150px;
    margin: 12px 0px;
}

.cities-text {
    font-size: larger;
}